*{
    margin: 0;
    padding: 0;
}

/* body{
    background-color: black;
    color: white;
} */
 .main{
    /* border: 2px solid blue; */
    display: flex;
 }
 .left{
    margin: 4px;
    border: 2px solid red;
    width: 25vw;
    height: 100px;
 }
 .right{
    margin: 4px;
    border: 2px solid green;
    height: 100px;
    width: 75vw;
 }

 .home ul li{
    gap: 15px;
    display: flex;
    width: 21px;
    list-style: none;
 }