@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

body{
    background-color: black;
    color: white;
}
 .main{
    /* border: 2px solid blue; */
    display: flex;
    /* background-color: black; */
 }
 .logo img{
   width: 108px;
 }
/* LEFT SIDE */
 .left{
    /* margin: 4px; */
    /* border: 2px solid red; */
    width: 25vw;
    /* height: 100px; */
    padding: 5px;
    /* background-color: #121212;
    color: white; */
 }
 .home{
   padding: 12px 29px;
   /* border: 2px solid red; */
 }
 .home ul li{
    gap: 9px;
    display: flex;
    width: 27px;
    list-style: none;
    padding-top: 11px;
    font-size: 23px;
    font-weight: 400;
 }
 .heading{
   display: flex;
   align-items: center;
   padding: 12px 17px;
   /* justify-content: center; */
 }
 .heading h2{
   font-size: 23px;
   font-weight: 400;
 }
 .heading img{
   /* gap: 15px; */
    /* display: flex; */
    width: 27px;
    list-style: none;
    margin-right: 9px;
    /* padding-top: 11px; */
 }
 .library{
   min-height: 70vh;
   position: relative;
 }
 .footer{
   display: flex;
   font-size: 10px;
   gap: 6px;
   position: absolute;
   bottom: 0;
 }
 .footer a{
   color: grey;
 }
/* RIGHT SIDE */
 .right{
   padding: 5px;
   width: 75vw;
    margin: 10px 0 ;
    /* border: 2px solid green; */
    /* height: 100px; */
    /* width: 75vw; */
    color: white;
 }
 .header{
   display: flex;
   justify-content: space-between;
   background-color: rgb(45, 45, 45);
 }
 .header > *{
   padding: 18px;
 }
 .sptfy-plylsts{
   padding: 11px;
 }
 .card-container{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin: 11px;
   width: 85%;
   max-height: 72vh;
   overflow-y: scroll;
   
 }
 .card{
   width: 160px;
   overflow: hidden;
   padding: 10px;
   border-radius: 7px;
   background-color: rgb(45, 45, 45);
   position: relative;
   margin: 3px;
 }
 .card img{
   width: 100%;
   object-fit: contain;
 }

 .play{
   width: 45px; 
    height: 45px; 
    background-color: rgb(0, 197, 0); 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: absolute;
    top: 167px;
    right: 16px;
    opacity: 0;
    transition: all 1s ease-out;
 }